.container {
  max-width: 3.2rem;
  width: 100%;
  height: 3.2rem;
  border-radius: 8px;
  user-select: none;
  background-color: var(--gray-900);
}

.container-with-border {
  max-width: 3.4375rem;
  width: 100%;
  height: 3.4375rem;
  
  border: 3px solid var(--gray-800);
  outline: 2px solid var(--green-200);
  border-radius: 8px;
  user-select: none;
  background-color: var(--gray-900);
}
